<div class="modal-body " >
    <div class="modal-body ng-scope">
        <form class="form-inline ng-pristine ng-invalid-required ng-invalid">
            <div class="row" style="height: 34px">
                <a style="line-height:34px; font-size: 14px">对应询价委托号:100434930</a>
            </div>
            <div class="row">
                <div class="col-sm-3" style="width:200px; padding-left:50px">
                    <div class="form-group">
                        <label>交易对手方: A公司</label>
                    </div>
                    <div class="form-group">
                        <label>担保机构: 无</label>
                    </div>
                    <div class="form-group">
                        <label>报价(每手): 41.86</label>
                    </div>
                </div>

                <div class="col-sm-3" style="width:200px; padding-left:60px">
                    <div class="form-group">
                        <label>对手信用评级: BBB</label>
                    </div>
                    <div class="form-group">
                        <label>授信额度(万元): 0</label>
                    </div>
                    <div class="form-group">
                        <label>报价(%): 1.44%</label>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-12 text-left" style="width: 638px">
                    <div class="button m-t-lg">
                        <input class="btn btn-success m-t-n-xs" style="background-color: #0d47a1; width:80px; border: 1px solid #0d47a1;" type="button" value="撤单" ng-click="cancel()">
                        <input class="btn btn-success m-t-n-xs" style="background-color: #0d47a1; width:80px; border: 1px solid #0d47a1;" type="button" value="关闭" ng-click="cancel()">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>